
<style>

    input[type=text] {
        border-radius: 0px !important;
    }

    .ui-datepicker-trigger {
        position: absolute;
        margin-top: -28px;
        right: 15px;
        border: none;
        background-color: transparent;
    }
</style>

<div ng-controller="CodePersonController" style="overflow:hidden;">
    <div>
        <h4 class="col-md-6" style="font-weight: bold;margin-left:6px;">Create 2D Code - Person</h4>

        <br /><hr>
    </div>

    <div class="form-group">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">ID:</label> <input type="text" placeholder="ID" ng-model="ObjectPersonModel.Object_id" name="ID" size="12" style="width:200px;" disabled /></div>
            <div class="col-md-6"><label style="width:180px;">Sub ID:</label> <input type="text" placeholder="Sub ID" ng-model="ObjectPersonModel.ObjectPersonData.PersonID_PK" name="Sub ID" size="12" style="width:200px;" disabled /></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <label style="width:180px;margin-left:6px;">Category:</label>


                <select style="width:230px;" data-ng-options="Category.Category_id as Category.Category_Name for Category in ObjectCategoryList" data-ng-model="ObjectPersonModel.Category_id" disabled></select>


            </div>
            <div class="col-md-6">
                <label style="width:180px;">Obj Type:</label>

                <select style="width:230px;" data-ng-options="ObjectType.ObjectType_id as ObjectType.ObjectType_Name for ObjectType in ObjectTypeList" ng-model="ObjectPersonModel.ObjectPersonData.PersonType"></select>

            </div>
        </div>






        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Obj Name:</label> <input type="text" placeholder="Obj Name" name="Obj Name" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Person_Name" /></div>
            <div class="col-md-6"><label style="width:180px;">Desc:</label> <input type="text" placeholder="Desc" name="Desc" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Description" /></div>
        </div>






        <div class="row" style="margin-top:10px;">
            <div class="col-md-10"><label style="width:180px;margin-left:6px;">Object:</label> <input type="text" placeholder="Object_name" name="Object_name" size="12" style="width:500px;" ng-model="ObjectPersonModel.Object_name" /></div>

        </div>



        <!---->


        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <label style="width:180px;margin-left:6px;">Gender:</label>

                <select style="width:230px;" data-ng-options="Gender.Gender_id as Gender.Gender_Name for Gender in GenderList" ng-model="ObjectPersonModel.ObjectPersonData.Gender"></select>


            </div>
            <div class="col-md-6">

                <label for="birthdaytime" style="width:180px;margin-left:6px;">Birthday :</label>


               
                <input type="date" date='dd-MM-yyyy' id="birthdaytime" name="birthdaytime" style="width:230px;"  ng-model="ObjectPersonModel.ObjectPersonData.Birthday" />
       
            </div>

        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Title:</label> <input type="text" placeholder="Title" name="Obj Name" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Title" /></div>
            <div class="col-md-6"><label style="width:180px;">Position:</label> <input type="text" placeholder="Position" name="Desc" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Position" /></div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Tel:</label> <input type="text" placeholder="Tel" name="Tel" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Telephone" /></div>
            <div class="col-md-6"><label style="width:180px;">Email:</label> <input type="text" placeholder="Email" name="Email" size="12" style="width:200px;" ng-model="ObjectPersonModel.ObjectPersonData.Email" /></div>
        </div>




        <!---->





        <div class="row" style="margin-top:10px;">
            <div class="col-md-10">
                <label style="width:180px;margin-left:6px;">2D Code Type:</label>
                <select style="width:260px;" data-ng-options="C2DCodeType.C2DCodeType_id as C2DCodeType.C2DCodeType_Name for C2DCodeType in C2DCodeTypeList" ng-change="getC2DCodeTypeData(ObjectPersonModel.ObjectPersonData.C2DCodeType)" ng-model="ObjectPersonModel.ObjectPersonData.C2DCodeType"></select>

            </div>

        </div>



        <br /><br />

        <div style="display:inline-block;margin-left:60px;">
            <div style="border:solid; border-color:lightgray; border-width: 1px;margin-top:10px;width:140px;display: inline-block;margin-left:2px;">
                <h4 style="font-weight: bold;margin-left:6px">Canada 2D Code</h4>

                <img data-ng-src="data:image/png;base64,{{ObjectPersonModel.QRCode}}" style="width:130px;height:130px;" />
                <!--<img src="../Images/qr-code.png" alt="Canada 2D Code" style="width:130px;height:130px;" />-->
                <br />
            </div>
            <br />
            <div style="margin-bottom:2px;display: inline-block;">
                <label style="width:580px;" for="userid"></label>

                <button type="button" class="btn btn-primary" style="width:100px;" ng-click="SaveObjectPerson()">Save</button>
                <button type="button" class="btn btn-warning" style="width:100px;">Go Details</button>
            </div>

        </div>


        <!--</div>-->

        <br /><hr>
        <div ng-show="false">
            <h4 class="col-md-6" style="font-weight: bold;margin-left:6px;">Create 2D Code - Person Details</h4>

            <br /><hr>
        </div>

        <div class="form-group" ng-show="false">

            <div class="row" style="margin-top:10px;">
                <div class="col-md-6"><label style="width:180px;margin-left:6px;">ID:</label> <input type="text" placeholder="ID" name="ID" size="12" style="width:200px;" /></div>
                <div class="col-md-6"><label style="width:180px;">Sub ID:</label> <input type="text" placeholder="Sub ID" name="Sub ID" size="12" style="width:200px;" /></div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">
                    <label style="width:180px;margin-left:6px;">Category:</label> <select name="country" style="width:230px;">
                        <option selected="" value="Default">(Please select a Category)</option>
                        <option value="AF">Category 1</option>
                        <option value="AL">Category 2</option>
                        <option value="DZ">Category 3</option>
                        <option value="AS">Category 4</option>
                        <option value="AD">Category 5</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label style="width:180px;">Obj Type:</label>  <select name="country" style="width:230px;">
                        <option selected="" value="Default">(Please select a Obj Type)</option>
                        <option value="AF">Obj Type 1</option>
                        <option value="AL">Obj Type 2</option>
                        <option value="DZ">Obj Type 3</option>
                        <option value="AS">Obj Type 4</option>
                        <option value="AD">Obj Type 5</option>
                    </select>
                </div>
            </div>






            <div class="row" style="margin-top:10px;">
                <div class="col-md-6"><label style="width:180px;margin-left:6px;">Obj Name:</label> <input type="text" placeholder="Obj Name" name="Obj Name" size="12" style="width:200px;" /></div>
                <div class="col-md-6"><label style="width:180px;">Desc:</label> <input type="text" placeholder="Desc" name="Desc" size="12" style="width:200px;" /></div>
            </div>






            <div class="row" style="margin-top:10px;">
                <div class="col-md-10"><label style="width:180px;margin-left:6px;">Object:</label> <input type="text" placeholder="Object" name="userid" size="12" style="width:500px;" /></div>

            </div>


            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">
                    <label style="width:180px;margin-left:6px;">Gender:</label>
                    <select name="country" style="width:230px;">
                        <option selected="" value="Default">(Please select)</option>
                        <option value="AF">Code Type 1</option>
                        <option value="AL">Code Type 2</option>
                        <option value="DZ">Code Type 3</option>
                        <option value="AS">Code Type 4</option>
                        <option value="AD">Code Type 5</option>
                    </select>
                </div>
                <div class="col-md-6">

                    <label for="birthdaytime" style="width:180px;margin-left:6px;">Birthday :</label>
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime" style="width:230px;">
                    <!--<div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>-->

                </div>
                <!--<script type="text/javascript">
                    $(function () {
                        $('#datetimepicker2').datetimepicker({
                            locale: 'ru'
                        });
                    });
                </script>-->
            </div>


            <div class="row" style="margin-top:10px;">
                <div class="col-md-6"><label style="width:180px;margin-left:6px;">Title:</label> <input type="text" placeholder="Title" name="Obj Name" size="12" style="width:200px;" /></div>
                <div class="col-md-6"><label style="width:180px;">Position:</label> <input type="text" placeholder="Position" name="Desc" size="12" style="width:200px;" /></div>
            </div>


            <div class="row" style="margin-top:10px;">
                <div class="col-md-6"><label style="width:180px;margin-left:6px;">Tel:</label> <input type="text" placeholder="Tel" name="Tel" size="12" style="width:200px;" /></div>
                <div class="col-md-6"><label style="width:180px;">Email:</label> <input type="text" placeholder="Email" name="Desc" size="12" style="width:200px;" /></div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-md-10"><label style="width:180px;margin-left:6px;">Mailing Adress:</label> <input type="text" placeholder="Mailing Adress" name="userid" size="12" style="width:500px;" /></div>

            </div>

            <br /><br />

            <div style="display:inline-block;margin-left:60px;">
                <div style="border:solid; border-color:lightgray; border-width: 1px;margin-top:10px;width:140px;display: inline-block;margin-left:2px;">
                    <h4 style="font-weight: bold;margin-left:6px">Canada 2D Code</h4>

                    <img src="../Images/qr-code.png" alt="Canada 2D Code" style="width:130px;height:130px;" />
                    <br />
                </div>
                <br />
                <div style="margin-bottom:2px;display: inline-block;">
                    <label style="width:580px;" for="userid"></label>

                    <button type="button" class="btn btn-info" style="width:100px;">Go Back</button>
                </div>

            </div>


        </div>


    </div>

</div>
