<div ng-controller="CodeDucumentController" style="overflow:hidden;">
    <div>
        <h4 class="col-md-6" style="font-weight: bold;margin-left:6px;">Create 2D Code - Document</h4>

        <br /><hr>
    </div>

    <div class="form-group">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">ID:</label> <input type="text" placeholder="ID" name="ID" size="12" style="width:200px;" /></div>
            <div class="col-md-6"><label style="width:180px;">Sub ID:</label> <input type="text" placeholder="Sub ID" name="Sub ID" size="12" style="width:200px;" /></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <label style="width:180px;margin-left:6px;">Category:</label> <select name="country" style="width:230px;">
                    <option selected="" value="Default">(Please select a Category)</option>
                    <option value="AF">Category 1</option>
                    <option value="AL">Category 2</option>
                    <option value="DZ">Category 3</option>
                    <option value="AS">Category 4</option>
                    <option value="AD">Category 5</option>
                </select>
            </div>
            <div class="col-md-6">
                <label style="width:180px;">Obj Type:</label>  <select name="country" style="width:230px;">
                    <option selected="" value="Default">(Please select a Obj Type)</option>
                    <option value="AF">Obj Type 1</option>
                    <option value="AL">Obj Type 2</option>
                    <option value="DZ">Obj Type 3</option>
                    <option value="AS">Obj Type 4</option>
                    <option value="AD">Obj Type 5</option>
                </select>
            </div>
        </div>






        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Obj Name:</label> <input type="text" placeholder="Obj Name" name="Obj Name" size="12" style="width:200px;" /></div>
            <div class="col-md-6"><label style="width:180px;">Desc:</label> <input type="text" placeholder="Desc" name="Desc" size="12" style="width:200px;" /></div>
        </div>






        <div class="row" style="margin-top:10px;">
            <div class="col-md-8"><label style="width:180px;margin-left:6px;">Object:</label> <input type="text" placeholder="Object" name="userid" size="12" style="width:500px;" /></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default" style="width:200px;margin-left:28px;">Attachement</button>
            </div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-md-10">
                <label style="width:180px;margin-left:6px;">2D Code Type:</label><select name="country" style="width:230px;">
                    <option selected="" value="Default">(Please select a Obj Type)</option>
                    <option value="AF">Code Type 1</option>
                    <option value="AL">Code Type 2</option>
                    <option value="DZ">Code Type 3</option>
                    <option value="AS">Code Type 4</option>
                    <option value="AD">Code Type 5</option>
                </select>
            </div>

        </div>



        <br /><br />

        <div style="display:inline-block;margin-left:60px;">
            <div style="border:solid; border-color:lightgray; border-width: 1px;margin-top:10px;width:140px;display: inline-block;margin-left:2px;">
                <h4 style="font-weight: bold;margin-left:6px">Canada 2D Code</h4>

                <img src="../Images/qr-code.png" alt="Canada 2D Code" style="width:130px;height:130px;" />
                <br />
            </div>
            <br />
            <div style="margin-bottom:2px;display: inline-block;">
                <label style="width:580px;" for="userid"></label>

                <button type="button" class="btn btn-primary" style="width:100px;">Submit</button>
            </div>

        </div>


    </div>


</div>
