<div ng-controller="OrderController">
    <h2>Create 2D Code for </h2>
    <div>
        <h4 class="col-md-6" style="font-weight: bold;margin-left:6px;">Profile</h4>
        <div class="col-md-5" style="margin-top:4px;">
            <label style="width:160px;" for="userid">User id:</label>
            <input type="text" placeholder="user id" name="user id" size="12" />
        </div>

        <br /><hr>
    </div>

    <div class="form-group">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">First Name:</label> <input type="text" placeholder="First Name" name="userid" size="12" style="width:200px;" /></div>
            <div class="col-md-6"><label style="width:180px;">Last Name:</label> <input type="text" placeholder="Last Name" name="userid" size="12" style="width:200px;" /></div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Tel:</label> <input type="text" placeholder="Tel" name="userid" size="12" style="width:200px;" /></div>
            <div class="col-md-6"><label style="width:180px;">Email:</label> <input type="text" placeholder="Email" name="userid" size="12" style="width:200px;" /></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6"><label style="width:180px;margin-left:6px;">Password:</label> <input type="text" placeholder="Password" name="userid" size="12" style="width:200px;" /></div>
            <div class="col-md-6"><label style="width:180px;">Password Confirm:</label> <input type="text" placeholder="Password" name="userid" size="12" style="width:200px;" /></div>
        </div>

        <br /><br />



    </div>


</div>
